CLIENT_GATEWAY_PORT = 3000
PAYMENTS_MS_PORT = 3003
STRIPE_SECRET_KEY = 
STRIPE_SUCCESS_URL = http://localhost:3000/api/payments/success
STRIPE_CANCEL_URL = http://localhost:3000/api/payments/cancel
STRIPE_WEBHOOK_SECRET = whsec_piUpancA4JJxblodgxxe7jONeqW5nAVG
AUTH_MOGODB_URL=mongodb+srv://username:password@cluster0.e3vxs.mongodb.net/AuthDB
AUTH_POSTGRES_URL=
AUTH_MYSQL_URL=
NATS_SERVERS=nats://localhost:4222,nats://localhost:4223
JWT_SECRET=