[submodule "gateway"]
	path = gateway
	url = https://github.com/Ecommerce-Nest-Microservicios/gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Ecommerce-Nest-Microservicios/products-ms.git
